    h1 {
        height: 40px;
        color: beige;
        margin-left: auto;
        margin-right: auto;
    }

    h1,
    h2 {
        font-family: Impact;
        text-align: center;
    }

    p,
    ul,
    ol {
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    body {
        background-color: rgb(175, 175, 160);
    }

    header,
    body,
    footer {
        background-color: beige;
    }

    a {
        background-color: rgb(211, 211, 203);
        color: rgb(115, 115, 98);
        padding: 5px;
        display: inline-block;
        margin-left: 0px;
        margin-right: 0px;
        width: 18%;
        text-align: center;
    }

    a:hover,
    .active {
        background-color: rgb(100, 100, 92);
        color: rgb(175, 175, 160);
        padding: 7px;
        display: inline-block;
        margin-left: 0px;
        margin-right: 0px;
        width: 18%;
        text-align: center;
    }

    .IndexImage1{
        height: 100px;width: 450px;
        display: inline-block;
        margin-left: 72%;
        margin-bottom: -104px;
        background-color: beige;
    }

    tr {
        background-color: rgb(204, 204, 175);
        padding: 2%;
    }

    .QuartileNumber {
        color: rgb(115, 115, 98);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 30px;
    }

    td {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: rgb(115, 115, 98);
        font-weight: bold;
    }

    .studycharts {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    hr {
        color: rgb(61, 61, 53);
        margin-top: 0px;
        margin-bottom: 0px;
        height: 3px;
        background-color: rgb(61, 61, 53);
    }

    /*Different Div Classes*/
    .headercolor {
        background-color: crimson;
    }

    .color1 {
        background-color: rgb(175, 175, 160);
        padding: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .color2 {
        background-color: rgb(172, 139, 139);
        padding: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .color3 {
        background-color: rgb(115, 115, 98);
        padding: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /*profilepictures*/
    .profilepicture {
        width: 180px; height: 300px;
        display: inline-block;
        margin-left: 80%;
        margin-top: -100px;
        margin-bottom: -130px;
    }
    .profilepicture2 {
        width: 200px; height: 300px;
        display: inline-block;
        margin-left: 80%;
        margin-top: -90px;
        margin-bottom: -130px;
    }
