    h1 {
        height: 40px;
        color: beige;
        margin-left: auto;
        margin-right: auto;
    }

    h1,
    h2 {
        font-weight: 100;
        font-family: Impact;
        text-align: center;
    }

    p,
    ul,
    ol {
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header,
    body {
        background-color: beige;
    }

    a {
        color: rgb(115, 115, 98);
        padding: 5px;
        display: inline-block;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    a:hover,
    .active {
        background-color: rgb(100, 100, 92);
        color: rgb(175, 175, 160);
        padding: 7px;
        display: inline-block;
        margin-left: 0px;
        margin-right: 0px;
        width: 18%;
        text-align: center;
    }

    .IndexImage1 {
        height: 70px;
        width: 270px;
        display: inline-block;
        margin-left: 72%;
        margin-top: -50px;
    }

    tr {
        background-color: rgb(204, 204, 175);
        padding: 2%;
    }

    .QuartileNumber {
        color: rgb(115, 115, 98);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 30px;
    }

    td {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: rgb(115, 115, 98);
        font-weight: bold;
    }
    th {font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: rgb(94, 94, 80);
        font-weight: bolder;
    }

    .studycharts {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

    hr {
        color: rgb(61, 61, 53);
        margin-top: 0px;
        margin-bottom: 0px;
        height: 3px;
        background-color: rgb(61, 61, 53);
    }

    /*Different Div Classes*/
    .headercolor {
        background-color: crimson;
    }

    .color1 {
        background-color: rgb(175, 175, 160);
        padding: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .color2 {
        background-color: rgb(172, 139, 139);
        padding: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .color3 {
        background-color: rgb(115, 115, 98);
        padding: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /*profilepictures*/
    .profilepicture {
        width: 180px;
        height: 300px;
        display: inline-block;
        margin-left: 80%;
        margin-top: -100px;
        margin-bottom: -130px;
    }

    .profilepicture2 {
        width: 200px;
        height: 300px;
        display: inline-block;
        margin-left: 80%;
        margin-top: -90px;
        margin-bottom: -130px;
    }

    footer {
        padding: 5px;
        background-color: rgb(115, 115, 98);
    }

    .colorToplinks {
        width: 19%;
        background-color: rgb(211, 211, 203);

    }

    .colorBottomlinks {
        width: 15.7%;
        background-color: rgb(175, 175, 160);

    }

    .border {
        margin-left: auto;
        margin-right: auto;
        outline: 1px black solid;
        width: 500px;
        height: 24px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: rgb(175, 175, 160);
    }

    /*add later using JS instead of CSS */
    .progress {
        background-color: green;
        width: 1.66%;
        height: 24px;
    }