h1 {
    height: 50px;
    background-color:crimson;
    color: white;
}
h1,h2 {
    font-family: Impact;
    text-align: center;
}
p {
    background-color: rgb(204, 204, 175);
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,body,footer {
    background-color: beige;
}
a:active,a {
    color: rgb(146, 146, 121);
}