h1 {
    height: 50px;
    background-color:crimson;
    color: white;
}
h1,h2 {
    font-family: Impact;
    text-align: center;
}
p {
    background-color: rgb(204, 204, 175);
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,body,footer {
    background-color: beige;
}
a {
    background-color: rgb(175, 175, 160);
    color: rgb(115, 115, 98);
    padding: 5px;
}
a:hover {
    background-color: rgb(115, 115, 98);
    color: rgb(175, 175, 160);
    padding: 5px;
}
.centerimage {
    margin-left: 33%;
    margin-right: 67%;
}